<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Publicaciones" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/publicacion">
      <ion-nav-view name="tab-publicacion"></ion-nav-view>
    </ion-tab>
  

    <ion-tab title="Crear Publicacion" icon-off="ion-android-add-circle" icon-on="ion-android-add-circle" href="#/tab/publicacion/crear">
      <ion-nav-view name="tab-crear"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Datos de usuario" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/usuario">
      <ion-nav-view name="tab-usuario"></ion-nav-view>
    </ion-tab>

    
    <ion-tab title="Datos de usuario" icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/login">
      <ion-nav-view name="tab-perfil"></ion-nav-view>
    </ion-tab>  
  </ion-tabs>
  