<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Publicaciones" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/publicaciones">
      <ion-nav-view name="tab-publicaciones"></ion-nav-view>
    </ion-tab>
  

    <ion-tab title="Crear Publicacion" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/crear-publicaciones">
      <ion-nav-view name="tab-crear_publicaciones"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Datos de usuario" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/usuario">
      <ion-nav-view name="tab-usuario"></ion-nav-view>
    </ion-tab>

    
    <ion-tab title="Datos de usuario" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/login">
      <ion-nav-view name="tab-perfil"></ion-nav-view>
    </ion-tab>  
  </ion-tabs>
  